/ejemplos-clases-constructores/Ejemplo1/ejercicio1/nbproject/private/
/ejemplos-clases-constructores/Ejemplo2/Fabrica/nbproject/private/
/ejemplos-clases-constructores/Ejepmlo1p/nbproject/
/ejemplos-clases-constructores/Ejepmlo1p/.ropeproject/
/ejemplos-clases-constructores/Ejepmlo2/nbproject/
/ejemplos-clases-constructores/Ejepmlo2/.ropeproject/
/ejemplos-objetos/Ejemplo1/PythonProject/nbproject/
/ejemplos-objetos/Ejemplo1/PythonProject/.ropeproject/
/ejemplos-objetos/Ejemplo2/jugadores/nbproject/
/ejemplos-objetos/Ejemplo2/jugadores/.ropeproject/
/ejemplos-listas/Ejemplo1/lista1/nbproject/
/ejemplos-listas/Ejemplo1/lista1/.ropeproject/
/ejemplos-listas/Ejemplo2/lista2/nbproject/
/ejemplos-listas/Ejemplo2/lista2/.ropeproject/
/ejemplos-objetos/Ejemplo2/jugadores/__pycache__/
/ejemplos-tuplas/Ejemplo1/tupla1/nbproject/
/ejemplos-tuplas/Ejemplo1/tupla1/.ropeproject/
/ejemplos-tuplas/Ejemplo2/ejemplo2/.ropeproject/
/ejemplos-tuplas/Ejemplo2/ejemplo2/nbproject/
